@import '../../styles/mixin';

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  @include wh(100%, 100px);
  background-color: #fff;
  border-top: 1px solid #d8d8d8;
  .footerIcon {
    flex: 1;
    padding: 0;
    line-height: normal;
    text-align: center;
    background-color: #fff;
    .footerTxt {
      color: #999;
      font-size: 28px;
    }
  }
  .footerIcon::after {
    border: none;
  }
  .footerIconActive {
    flex: 1;
    line-height: normal;
    padding: 0;
    color: #2083e4;
    background-color: #fff;
    text-align: center;
    .footerTxt {
      @include sc(28px, #2083e4);
    }
  }
  .footerIconActive::after {
    border: none;
  }
}
