@import '../../../../styles/base';

.midCardWrap {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  .midCardTit {
    @include sc(36px, #000);
    padding-bottom: 24px;
    font-weight: 600;
    .moreArrow {
      > text {
        @include sc(28px, #999);
        padding-right: 12px;
        font-weight: 400;
      }
      .moreArrowImg {
        @include wh(16px, 26px);
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .midCardBanner {
    @include wh(466px, 264px);
    margin: 0 20px 20px 0;
    border-radius: 8px;
    overflow: hidden;
  }
  .midItemWrap {
    .midItemDom {
      width: 224px;
      .midItemImgWrap {
        @include wh(224px, 180px);
        position: relative;
        border-radius: 16px;
        overflow: hidden;
        .midImgBot {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          box-sizing: border-box;
          padding: 0 8px 8px;
          background-color: rgba(0, 0, 0, 0.7);
          > text:first-child {
            @include wh(62px, 30px);
            @include sc(24px, #fff);
            display: inline-block;
            line-height: 30px;
            margin-right: 12px;
            text-align: center;
            background-color: rgba(232, 14, 39, 1);
            border-radius: 16px;
          }
          > text:last-child {
            @include sc(28px, #fff);
            display: inline-block;
            max-width: 130px;
            vertical-align: middle;
          }
        }
      }
      .midItemTxtWrap {
        box-sizing: border-box;
        padding: 6px 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(224, 224, 224, 0.5);
        .txtTop {
          @include sc(32px, rgba(232, 14, 39, 1));
        }
        .txtBot {
          @include sc(28px, rgba(153, 153, 153, 1));
        }
      }
    }
    .midItemDom:first-child {
      margin-bottom: 20px;
    }
    .midItemDom:nth-of-type(2),
    .midItemDom:nth-of-type(3) {
      margin-right: 19px;
    }
  }
}
