@import '../../../../styles/base';

.midCardWrap {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  .midCardTit {
    padding-bottom: 24px;
    color: #000;
    font-size: 36px;
    font-weight: 600;
    .moreArrow {
      > text {
        padding-right: 12px;
        font-size: 28px;
        font-weight: 400;
        color: #999;
      }
      .moreArrowImg {
        display: inline-block;
        @include wh(16px, 26px);
        vertical-align: middle;
      }
    }
  }
  .midCardBanner {
    @include wh(466px, 264px);
    margin: 0 20px 20px 0;
    border-radius: 8px;
    overflow: hidden;
  }
  .midItemWrap {
    .midItemDom {
      width: 224px;
      .midItemImgWrap {
        position: relative;
        @include wh(224px, 180px);
        border-radius: 16px;
        overflow: hidden;
        .midImgBot {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          box-sizing: border-box;
          padding: 0 8px 8px;
          background-color: rgba(0, 0, 0, 0.7);
          > text:first-child {
            display: inline-block;
            @include wh(62px, 30px);
            line-height: 30px;
            margin-right: 12px;
            font-size: 24px;
            color: rgba(255, 255, 255, 1);
            background: rgba(232, 14, 39, 1);
            text-align: center;
            border-radius: 16px;
          }
          > text:last-child {
            display: inline-block;
            max-width: 130px;
            color: #fff;
            font-size: 28px;
            vertical-align: middle;
          }
        }
      }
      .midItemTxtWrap {
        box-sizing: border-box;
        padding: 6px 20px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 4px 8px 0 rgba(224, 224, 224, 0.5);
        border-radius: 10px;
        .txtTop {
          font-size: 32px;
          color: rgba(232, 14, 39, 1);
        }
        .txtBot {
          font-size: 28px;
          color: rgba(153, 153, 153, 1);
        }
      }
    }
    .midItemDom:first-child {
      margin-bottom: 20px;
    }
    .midItemDom:nth-of-type(2), .midItemDom:nth-of-type(3) {
      margin-right: 19px;
    }
  }
}
