@import '../../../../styles/base';

.goodCardWrap {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 20px 98px;
  background-color: #fff;
  .scrollDom {
    height: calc(100vh - 426px);
    box-sizing: border-box;
    overflow: auto;
  }
  .botCardItemWrap {
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #f4f4f4;
    .botItemImgWrap {
      @include wh(180px, 180px);
      border-radius: 16px;
      overflow: hidden;
    }
    .botItemTxtWrap {
      box-sizing: border-box;
      padding: 0 20px;
      background-color: #fff;
      .txtTop {
        height: 60px;
        line-height: 60px;
        > text:first-child {
          @include wh(62px, 30px);
          @include sc(24px, #fff);
          line-height: 30px;
          margin: 20px 12px 0 0;
          background-color: rgba(232, 14, 39, 1);
          text-align: center;
          border-radius: 16px;
        }
        > text:last-child {
          @include sc(28px, rgba(51, 51, 51, 1));
        }
      }
      .txtMid {
        @include sc(32px, rgba(232, 14, 39, 1));
        height: 60px;
        line-height: 60px;
      }
      .txtBot {
        @include sc(28px, rgba(153, 153, 153, 1));
        height: 60px;
        line-height: 60px;
      }
    }
    .botItemTxtWrap:first-child {
      margin-right: 20px;
    }
  }
}
