@import '../../styles/base';

.cartWrap {
  @include wmh(100vw, 100vh);
  background-color: #fff;
  .cardCheck {
    @include wh(46px, 46px);
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
    border: 2px solid #999;
    border-radius: 50%;
    background-color: #fff;
  }
  .cardCheckActive {
    @include wh(46px, 46px);
    float: left;
    line-height: 40px;
    margin-right: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #e80e27;
  }
  .cardItemWrap {
    position: relative;
    width: 100%;
    padding: 30px 0;
    background-color: #fff;
    border-bottom: 2px dashed #dbdbdb;
    .cartItemImgWrap {
      @include wh(180px, 180px);
      border-radius: 16px;
      overflow: hidden;
    }
    .cartItemTxtWrap {
      box-sizing: border-box;
      padding: 0 20px;
      background-color: #fff;
      > view:first-child {
        @include sc(28px, #333);
        margin-bottom: 30px;
      }
      > view:last-child {
        @include sc(32px, #e80e27);
      }
    }
    .btnGroup {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 20px;
      right: 20px;
      .subBtn {
        flex: 1;
      }
      .addBtn {
        flex: 1;
      }
      .numDom {
        @include sc(30px, rgba(51, 51, 51, 1));
        flex: 1;
        margin: 0 10px;
      }
    }
  }
  .cardItemWrap:first-child {
    border-top: 2px dashed #dbdbdb;
  }
  .statisticWrap {
    @include wh(100%, 98px);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    line-height: 98px;
    background-color: #fff;
    box-sizing: border-box;
    border-top: 2px solid #dbdbdb;
    .selectTxt {
      @include sc(28px, rgba(153, 153, 153, 1));
    }
    .totalNum {
      @include sc(28px, rgba(51, 51, 51, 1));
      display: inline-block;
      padding-left: 80px;
      > text {
        @include sc(32px, #f6475b);
      }
    }
    .createOrder {
      @include wh(208px, 98px);
      @include sc(32px, #fff);
      line-height: 98px;
      padding: 0;
      text-align: center;
      background-color: #f6475b;
      border-radius: 0;
    }
  }
}
