@import '@/styles/base';

.cateHeader {
  @include wh(100%, 172px);
  background: #fff;
  border: 2px solid rgba(250, 250, 250, 1);
  box-shadow: 0 2px 4px 0 rgba(209, 209, 209, 0.5);
  .searchDom {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 20px;
    .inputDom {
      @include wh(614px, 66px);
      @include sc(28px, rgba(153, 153, 153, 1));
      float: left;
      line-height: 66px;
      box-sizing: border-box;
      padding: 0 20px;
      margin-right: 28px;
      background-color: rgba(245, 245, 245, 1);
      border-radius: 12px;
    }
    .placeClass {
      @include sc(28px, rgba(153, 153, 153, 1));
      margin-left: 52px;
    }
    .imgDom {
      @include wh(32px, 32px);
      position: absolute;
      top: 34px;
      left: 44px;
    }
    > text {
      @include sc(28px, rgba(56, 56, 56, 1));
      display: inline-block;
      height: 66px;
      line-height: 66px;
    }
  }
  .sortDom {
    @include wh(100%, 88px);
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid rgba(250, 250, 250, 1);
    box-shadow: 0 2px 4px 0 rgba(209, 209, 209, 0.5);
    > .sortItem {
      flex: 1;
      text-align: center;
      > text {
        @include sc(30px, rgba(51, 51, 51, 1));
        display: inline-block;
        margin-right: 12px;
      }
      .sortImg {
        @include wh(16px, 12px);
        vertical-align: middle;
      }
      .sortImgReverse {
        @include wh(16px, 12px);
        vertical-align: middle;
        transform: rotate(180deg);
        filter: sepia(100%);
      }
    }
  }
}
