@import '../../../../styles/base';

.iconList {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 30px 0;
  background-color: #fff;
  margin-bottom: 20px;
  .iconItem {
    width: 20%;
    margin-bottom: 30px;
    .iconWrap {
      @include wh(106px, 106px);
      line-height: 106px;
      margin: 0 auto;
      text-align: center;
    }
    .iconTitle {
      font-size: 30px;
      color: #666;
      text-align: center;
      padding-top: 10px;
    }
  }
}
