@import './mixin';
@import './iconfont';

page, body {
  font-size: 32px;
  height: 100%;
  background-color: $bg-color-light;
  color: $color-dark;
  box-sizing: border-box;
}

.taro-img, image {
  @include wh(100%, 100%);
}

button {
  outline: none;
}

//******常用类******/
.clearfix {
  zoom: 1;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
