@font-face {
  font-family: 'FontAwesome';
  /* 自行安装第三方字体图标库 */
  /* 此种引入方式，开发者工具与苹果正常显示，安卓测试不显示，转为base64可以正常显示。*/
  src: url('https://gitee.com/summersnake/images/raw/master/fonts/fontawesome-webfont.eot');
  src: url('https://gitee.com/summersnake/images/raw/master/fonts/fontawesome-webfont.woff2')
      format('woff2'),
    url('https://gitee.com/summersnake/images/raw/master/fonts/fontawesome-webfont.woff')
      format('woff'),
    url('https://gitee.com/summersnake/images/raw/master/fonts/fontawesome-webfont.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 根据第三方字体图标库编写 */
/* 举例：fa 就是 prefixClass 的值，下面的的图标 css class 命名都要用 fa- 开头  */
.fa {
  /* 以下的 font 与上面 @font-face 的 font-family 要一致*/
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-checked:before {
  content: '\f00c';
}

.fa-paper-plane:before {
  content: '\f1d8';
}

.fa-paper-plane-o:before {
  content: '\f1d9';
}

.fa-vimeo:before {
  content: '\f27d';
}

.fa-book:before {
  content: '\f02d';
}

.fa-street-view:before {
  content: '\f21d';
}

.fa-users:before {
  content: '\f0c0';
}

.fa-superpowers:before {
  content: '\f2dd';
}
