@import '../../../../styles/base';

.userEditWrap {
  @include wmh(100vw, 100vh);
  position: relative;
  box-sizing: border-box;
  padding: 0 30px;
  background-color: #fff;
  .infoItem {
    border-bottom: 2px solid #d8d8d8;
    height: 100px;
    .prefixDom {
      @include sc(32px, #666);
      height: 100px;
      line-height: 100px;
    }
    .inputDom {
      @include sc(32px, #999);
      height: 100px;
      line-height: 100px;
    }
    .inputNode {
      height: 100px;
      line-height: 100px;
    }
    .pickerNode {
      @include wh(500px, 100px);
      display: flex;
      > text {
        flex: 1;
      }
    }
    .cardCheck {
      @include wh(46px, 46px);
      float: left;
      margin: 28px 20px 0 0;
      box-sizing: border-box;
      border: 2px solid #999;
      border-radius: 50%;
      background-color: #fff;
    }
    .cardCheckActive {
      @include wh(46px, 46px);
      float: left;
      line-height: 40px;
      margin: 28px 20px 0 0;
      text-align: center;
      border-radius: 50%;
      background-color: #e80e27;
    }
  }
  .submitBtn {
    @include wh(500px, 80px);
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 80px;
    padding: 8px;
    color: #fff;
    text-align: center;
    background-color: #e80e27;
    border-radius: 8px;
  }
}

