@import '../../../../styles/base';

.topCardWrap {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  .topCardTit {
    @include sc(36px, #000);
    padding-bottom: 24px;
    font-weight: 600;
    .moreArrow {
      > text {
        @include sc(28px, #999);
        padding-right: 12px;
        font-weight: 400;
      }
      .moreArrowImg {
        @include wh(16px, 26px);
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .topCardBanner {
    @include wh(100%, 184px);
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
  }
  .topItemWrap {
    display: flex;
    .topItemDom {
      flex: 1;
      .topItemImgWrap {
        @include wh(346px, 364px);
        border-radius: 16px;
        overflow: hidden;
      }
      .topItemTxtWrap {
        box-sizing: border-box;
        padding: 12px 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(224, 224, 224, 0.5);
        .txtTop {
          height: 30px;
          line-height: 30px;
          > text:first-child {
            @include wh(62px, 30px);
            @include sc(24px, #fff);
            line-height: 30px;
            margin-right: 12px;
            text-align: center;
            background-color: rgba(232, 14, 39, 1);
            border-radius: 16px;
          }
          > text:last-child {
            @include sc(28px, rgba(51, 51, 51, 1));
          }
        }
        .txtMid {
          @include sc(32px, rgba(232, 14, 39, 1));
        }
        .txtBot {
          @include sc(28px, rgba(153, 153, 153, 1));
        }
      }
    }
    .topItemDom:first-child {
      margin-right: 20px;
    }
  }
}
